site_name: Linke's Notes
site_description: A growing, searchable notebook.
site_url: https://linkeLi0421.github.io/my-notes/
repo_url: https://github.com/linkeLi0421/my-notes
repo_name: linkeLi0421/my-notes

docs_dir: notes
site_dir: site

theme:
  name: material
  language: en
  font:
    text: Noto Sans SC
    code: IBM Plex Mono
  palette:
    - scheme: default
      primary: blue grey
      accent: indigo
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

plugins:
  - search

markdown_extensions:
  - meta
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - styles/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
